<app-header/>
<main>
    <ul id="users">        
        <li *ngFor="let user of users">           
            <app-user 
                [user]="user"             
                (select) = "onSelectedUser($event)" 
                [selected] = "user.id === userId"
            />
        </li>
    </ul>
    <app-tasks *ngIf="selectedUser; else fallback" 
        [name]="selectedUser.name"
        [userId] = "selectedUser.id"
    />
    <ng-template #fallback>
        <span>No selected user</span>
    </ng-template>
    
</main>